*.o
*.obj
*.ilk
*.pdb
*.exe
*.dblite
*.dat-journal

*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*.xcworkspace

pat?.dat
cy-kill
benchmark_playouts
measure_mcts
connect4
tictactoe-main
test

tags
hosts
